*{font-family: "Arial","Microsoft Yahei"}
/*Discuss*/
.postpl_ww{width:990px;margin:0px auto;padding-bottom:40px;background:#fff;padding-top:40px;}
.postpl_w{height:120px;margin:0px auto;padding:0px 40px 0px 40px;}
.postpl_w a{display:block;height:50px;width:50px;float:left;border-radius:8px;overflow:hidden;}
.postpl_w a img{display:block;height:100%;width:100%;}
.postplform{height:120px;float:left;padding-left:10px;position:relative;}
.postplform textarea{line-height:22px;background:#eee;color:#333;padding:6px 10px;overflow:auto;height:68px;width:798px;border:0px;border-radius:8px;overflow:hidden;font-size:14px;}
.postplform input {
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 4px;
	background-color: #d5885c;	
	border: none;
	border-radius: 5px;
	text-align: center;
}.plitem{width:908px;padding:20px 40px 0px;margin:0px auto;}
.plitem .img{display:block;height:50px;width:50px;border-radius:8px;overflow:hidden;float:left;}
.plitem .img img{display:block;height:100%;width:100%;}
.plitem .plcon{width:798px;padding-left:10px;float:left;position:relative;}
.plitem .plcon .name{font-size:12px;color:#f6c07d;font-weight:bold;line-height:18px;}
.plitem .plcon p{font-size:14px;color:#333;line-height:22px;padding:6px 0px;}
.plitem .plcon .time{line-height:18px;color:#999;}
.plcon a.re{position:absolute;right:0px;color:#f6c07d;}
.plcon a.re:hover{text-decoration:underline;}
.comscoms ul li div.c1{float:left;margin-left:10px;}
.comscoms{padding:10px 20px 0px 20px;background:#eee;margin-bottom:20px;clear:both;margin-left:90px;border-radius:10px;margin-top:10px;margin-right:20px;position:relative;top:10px;}
.comscoms ul{}
.comscoms ul li{border-bottom:1px solid #c9c9c9;padding:10px 0px 0px 46px;position:relative;}
.comscoms ul li.hided{display:none;}
.comscoms ul li div.c1 p.p2{font-size:12px;color:#666;line-height:20px;padding-bottom:4px;}
.comscoms ul li div.c1 p.p2 a{color:#f6c07d;padding-right:2px;font-size: 12px;}
.comscoms ul li div.c1 p.p2 a:hover{text-decoration:underline;}
.comscoms ul li div.c1 p.p2 a.v_small{height:20px;}
.comscoms ul li a.avatar1{height:36px;width:36px;float:left;margin-bottom:10px;position:absolute;left:0px;top:10px;}
.comscoms ul li a.avatar1 img{display:block;height:36px;width:36px;}
.morepls{height:32px;float:left;color:#999;display:block;margin-top:10px;line-height:32px;}
.morepls a{color:#f6c07d;}
.morepls a:hover{text-decoration:underline;}
.pagebtns{height:32px;float:left;color:#999;display:block;padding-top:8px;}
.pagebtns a{color:#f6c07d;padding:0px 3px;display:inline-block;vertical-align:top;*display:inline;*zoom:1;height:32px;line-height:32px;}
.pagebtns a.current{color:#333;font-size:12px;font-weight:bold;padding:0px 3px;display:inline-block;vertical-align:top;*display:inline;*zoom:1;height:32px;line-height:32px;}
.pagebtns a:hover{text-decoration:underline;}
.pagebtns a.current{text-decoration: none;}
.saybtn{height:32px;width:100px;background:#f6c07d;border:1px solid #f6c07d;display:block;float:right;line-height:32px;color:#fff;text-align:center;margin:10px 0px 20px}
.saybtn:hover{background:#f6c07d;}
.saybtn_ed{background:#eee;border:1px solid #ddd;color:#888;}
.saybtn_ed:hover{background:#c9c9c9;}
.comscoms ul li span.a{color:#f6c07d;line-height:18px;}
.re_form{float:right;width:758px;height:150px;position:relative;top:-10px;display:none;}
.re_form textarea{height:70px;width:728px;padding:14px;border:1px solid #ddd;background:#fff;font-size:14px;color:#333;}
.re_form input{position:absolute;right:0px;bottom:10px;height:30px;width:80px;color:#fff;font-size:12px;text-align:center;background:#f6c07d;border:1px solid #f6c07d;line-height:30px;}
.comscoms li div.info{position:relative;height:40px;line-height:40px;color:#999;}
.comscoms li div.info span a{color:#f6c07d;padding:0px 3px;}
.comscoms li div.info span a:hover{text-decoration:underline;}
.comscoms div.info a.re{color:#999;position:absolute;right:0px;top:0px;line-height:40px;display:inline-block;vertical-align:top;*display:inline;*zoom:1;}
.comscoms div.info a.re:hover{color:#f6c07d;text-decoration:underline;}
.comscoms div.info1{position:relative;height:36px;line-height:30px;color:#999;}
.comscoms div.info1 span a{color:#f6c07d;padding:0px 3px;}
.comscoms div.info1 span a:hover{text-decoration:underline;}

/*CutPage*/
.nav_zuopin_8{width:988px;height:40px;clear:both;margin:0px auto 0px;text-align:center;padding:40px 0px;}
.nav_zuopin_8 ul{clear:both;}
.nav_zuopin_8 li{display:inline-block;vertical-align:top;*display:inline;*zoom:1;height:40px;text-align:center;background:#fff;line-height:40px;margin-right:10px ;color:#666;list-style: none;}
.nav_zuopin_8 li a{ display:inline-block;vertical-align:top;*display:inline;*zoom:1;padding:0px 16px;height:40px;text-align:center;background:#ddd;line-height:40px; color:#666;list-style: none;}
.nav_zuopin_8 li a:hover{background:#f6c07d;color:#fff;}
.nav_zuopin_8 li span{ display:inline-block;vertical-align:top;*display:inline;*zoom:1;padding:0px 16px;height:40px;text-align:center;background:#f6c07d;line-height:40px; color:#fff;list-style: none;}

/*Plot*/
.bqch{font-size:18px;color:#111;height:80px;line-height:80px;text-align:center;font-family:Microsoft Yahei,黑体;}

/*Bottom*/
.zt_bottom{height:44px;width:100%;text-align:center;font-size:12px;color:#fff;line-height:22px;padding: 40px 0;background: #333;}
.zt_bottom p{font-size:14px;font-weight:bold;}
.zt_bottom span{font-size:12px;line-height:22px;}